[submodule "examples"]
	path = examples
	url = https://github.com/maierfelix/webgpu-examples
[submodule "dawn"]
	path = dawn
	url = https://dawn.googlesource.com/dawn
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "cts"]
	path = cts
	url = https://github.com/Kings-Distributed-Systems/cts
	branch = cts-napi
[submodule "tfjs"]
	path = tfjs
	url = https://github.com/tensorflow/tfjs.git
[submodule "webidl-napi"]
	path = webidl-napi
	url = https://github.com/Kings-Distributed-Systems/webgpu-napi
